# if you need to install pytorch with nvidia gpu support on windows machines..
# ..then run this pip install before installing the requirements
pip install torch==2.3.1 --index-url https://download.pytorch.org/whl/cu121